* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global theme */
html,
body {
    background-image: url("../assets/bg.png");
    color: #e5e7eb;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

h1,
h2 {
    letter-spacing: -0.3px;
}

h2 {
    margin-top: 24px;
    font-size: 18px;
}

#root {
    height: 100%;
}

